.header {
  width: 100%;
  padding: 30px;
  background-color: black;
  text-align: center;
}

.h1 {
  color: white;
  font-size: 60px;
  margin-right: 100px;
}

.h4 {
  color: white;
  font-size: 20px;
  margin-right: 100px;
}
